/* ---------- Theme Colors ---------- */

:root {
    --ibm-blue: #0f62fe;
    --ibm-blue-dark: #4589ff;
    --hover-blue: #7d8fa3;
    --dropdown-light: #e8ecef;
    --dropdown-dark: #31465a;
}


/* ---------- Sidebar ---------- */

nav a {
    color: var(--ibm-blue);
}

.dark nav a {
    color: var(--ibm-blue-dark);
}


/* ---------- Hyperlinks ---------- */

a,
a:visited {
    color: var(--ibm-blue) !important;
    text-decoration: none !important;
}

/* Make DOI-generated links inherit the same color */
a * {
    color: inherit !important;
}

a:hover,
a:hover * {
    color: var(--hover-blue) !important;
    text-decoration: none !important;
}

a:active,
a:active * {
    color: var(--ibm-blue-dark) !important;
}


/* ---------- Dropdowns ---------- */

summary.myst-dropdown-header {
    background-color: var(--dropdown-light);
}

.dark summary.myst-dropdown-header {
    background-color: var(--dropdown-dark);
}

/* Standardize all hyperlinks in the main page content */
main a {
    font-family: inherit !important;
    font-style: normal !important;
    font-weight: 500 !important;
    letter-spacing: inherit !important;
}


/* ---------- Tables ---------- */

table.research {
    border-collapse: collapse;
    margin: auto;
}

table.research th.title {
    font-size: 0.9rem;
    font-weight: bold;
}

table.research th.subtitle {
    font-size: 0.7rem;
    font-weight: bold;
}

table.research th,
table.research td {
    font-size: 0.6rem;
    border: 1px solid #000;
    padding: 2px 8px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

table.research td.no-top,
table.research th.no-top {
    border-top: 1px solid transparent;
}

table.research td.no-bottom,
table.research th.no-bottom {
    border-bottom: 1px solid transparent;
}

/* ---------- Profile ---------- */
.profile {
    width: fit-content;
    margin: 0 auto;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.profile-image img {
    width: 5em;
    height: 5em;
}

.profile-info {
    line-height: 1.5;
}

.profile-links {
    text-align: center;
}