<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
	
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    
	<script>
		MathJax = {
		tex: {
			inlineMath: [['$', '$'], ['\\(', '\\)']],
			processEscapes: true,
		},
		};
	</script>

  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a><br/>
		<a href="mailto:nat@wm.edu">nat@wm.edu</a><br/>
		<br/>
		
		<a href="https://www.wm.edu/as/economics/faculty-directory/throckmorton_n.php">Tang Associate Professor</a><br/>
		<a href="http://www.wm.edu/as/economics/">Economics Department</a>,
		<a href="https://www.wm.edu/"><img style='height: 1em; object-fit: contain' src="https://nathrock.github.io/w&m_full_color.png"></a><br/>
		<br/>
		
		<a href="https://nathrock.github.io/NT_CV.pdf">Curriculum Vitæ</a> / <a href="https://scholar.google.com/citations?user=OYdRwzYAAAAJ">Google Scholar</a><br/>
		<a href="https://ideas.repec.org/f/pth237.html">IDEAS</a> / 
		<a href="https://www.linkedin.com/in/nathrock">LinkedIn</a> / 
		<a href="http://papers.ssrn.com/sol3/cf_dev/AbsByAuth.cfm?per_id=1782730">SSRN</a> / 
		<a href="https://orcid.org/0000-0002-9671-757X">ORCiD</a><br/>
		<br/>
		
		Editorial Board Member<br/>
		<a href="https://link.springer.com/journal/10614">Computational Economics</a><br/>
		<br/>
		
		Advisory Council General Member<br/>
		<a href="https://comp-econ.com/">Society for Computational Economics</a><br/>
		<br/>
		
<!--         {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %} -->
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages <br/> Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
